@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-bg: #ffff;
$body-color: black;
$font-family-sans-serif: "Josefin Sans", sans-serif;
$primary: #000000;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

