@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-bg: #ffff;
$body-color: black;
$font-family-sans-serif: "Josefin Sans", sans-serif;
$primary: #000000;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

.navbar-brand{
    color: white;
}

.row{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
}

// .row {
//     position: relative;
//     opacity: 1;
//     transition: .5s ease;
//     background-color: #008CBA;
//   }
  
//   .container:hover .row {
//     opacity: 1;
//   }
.card{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
  
.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}