@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-bg: #ffff;
$body-color: black;
$font-family-sans-serif: "Josefin Sans", sans-serif;
$primary: #000000;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

.navbar-brand {
  color: white;
}

.row {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.anime-info {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  color: purple;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.card-img:hover {
  filter: blur(8px);
}

.card:hover .anime-info {
  opacity: 1;
}

.navbar{
  position:absolute;
  background:transparent!important;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.navbar a {
  color: black;     
}
.search-bar{
  position:absolute;
  z-index:1;
  top: 100px;
  width: 100%;
}

#bg{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.carousel{
  position: absolute;
  padding: 205px;
}
